@font-face {
  font-family: "iconfont"; /* Project id 2726348 */
  src: url('iconfont.woff2?t=1628241021365') format('woff2'),
       url('iconfont.woff?t=1628241021365') format('woff'),
       url('iconfont.ttf?t=1628241021365') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huaban88:before {
  content: "\e602";
}

.icon-pinglun1:before {
  content: "\e60c";
}

.icon-dianzan_active:before {
  content: "\e601";
}

.icon-eye1:before {
  content: "\e610";
}

.icon-rili:before {
  content: "\e736";
}

.icon-tuku:before {
  content: "\e6e0";
}

.icon-tag1:before {
  content: "\e655";
}

.icon-xuanzhongshangcheng-copy:before {
  content: "\e600";
}

