@mixin backgroundColor() {
  background-color: #fff;
}
//文本n行溢出隐藏
@mixin ellipsisBasic($clamp: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clamp;
}
